.card {
    font-size: 18px;
    line-height: 130%;
    box-sizing: border-box;
    font-family: 'Eudoxus Sans';
    margin: 30px;
}

.card__image {
    min-width: 156px;
    min-height: 130px;
    width: 394px;
    height: 360px;
    margin-bottom: 26px;
}
.card__paragraph {
    color: #AFADB5;
}
.card__paragraph:first-child{
    font-weight: 700;
    margin-bottom: 14px;
    color: #AFADB5;
}
.card__paragraph:nth-of-type(2) {
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: 6px;
    color: #AFADB5;
}
.card__paragraph:last-child{
    font-size: 24px;
    font-weight: 700;
    color: #151411;
    padding-bottom: 30px;
}
.card__title {
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    color: #151411;
    letter-spacing: 0.01em;
    margin-top: 14px;
    margin-bottom: 6px;
}

@media (max-width: 1600px) {
    .card{
        box-sizing: border-box;
        width: 350px;
        
    }
    .card__image {
        box-sizing: border-box;
        width: 350px;
        height: 318px;
        margin: 15px;
    }

}

@media (max-width: 1240px) {
    .card{
        box-sizing: border-box;
        width: 280px;
        font-size: 12px;
        
    }
    .card__image {
        box-sizing: border-box;
        width: 280px;
        height: 254.5px;
        margin: 15px;
    }

    .card__paragraph:last-child {
        font-size: 14px;
    }
    .card__title {
        font-size: 14px;
    }
}

@media (max-width: 680px) {
    .card{
        box-sizing: border-box;
        width: 195px;
        margin: 15px;
        
    }
    .card__image {
        box-sizing: border-box;
        width: 195px;
        height: 177px;
        margin: 15px;
    }
}

@media (max-width: 500px) {
    .card{
        box-sizing: border-box;
        width: 156px;
        
    }
    .card__image {
        box-sizing: border-box;
        width: 156px;
        height: 130px;
        margin: 10px 15px;
    }
}